@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div id="errorMessage" class="alert alert-danger fade-out text-center">
        <div class="row">
            <div class="col">
                @ViewData["ErrorMessage"]
            </div>
        </div>
    </div>
    ViewData["ErrorMessage"] = string.Empty;
}
@if (!string.IsNullOrEmpty(ViewBag.NotificationMessage))
{
    <div class="alert alert-info fade-out text-center" role="alert">
        @ViewBag.NotificationMessage
    </div>
}
<div class="row justify-content-center">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-items">
                        <a class="nav-link" href="/Login/UserLogin">
                            LogIn
                        </a>
                    </li>
                    <li class="nav-items">
                        <a class="nav-link" href="/Login/ForgotPassword">
                            Forgot Password
                        </a>
                    </li> 
                </ul>

            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}